<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header ">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" th:replace="fragments :: navigation">
</nav>
<div>
    <a th:href="@{/create-board}" style="text-decoration: none;"><h3>게시글 작성하기</h3></a>
</div>
<div th:if="${message!=null}" class="alert alert-primary text-center" th:text="${message}">
</div>
<div> 글 분류:
    <th:block>
        <!--        <select onchange="window.open(value,'_blank');">-->
<!--                    <option th:value="@{/board-create}">공지사항(Notice)</option>-->
<!--                    <option th:value="@{/board-create}">자주묻는질문(Faq)</option>-->
<!--                    <option th:value="@{/board-create}">질문과답변(Qna)</option>-->
        <!--        </select>-->
        <select id="aioConceptName">
            <!--            <option th:each="BoarderType : ${BoarderType}" th:value="${BoarderType}"></option>-->
            <option th:value="@{/board/page-board/1?value=id&direction=descending}">글분류</option>
                <option th:href="@{/board/page-board/1/NOTICE?value=id&direction=descending}">공지사항(Notice)</option>
                <option th:href="@{/board/page-board/1/FAQ?value=id&direction=descending}">자주묻는질문(Faq)</option>
                <option th:href="@{/board/page-board/1/QNA?value=id&direction=descending}">질문과답변(Qna)</option>
<!--            <option th:value="@{'/board' + '/page-board/1' + '/NOTICE' + '?value=id&direction=descending'}" th:selected="${selectedBoarderType} == 'NOTICE'">공지사항(Notice)-->
<!--            </option>-->
<!--            <option th:value="@{'/board' + '/page-board/1' + '/FAQ' + '?value=id&direction=descending'}" th:selected="${selectedBoarderType} == 'FAQ'">자주묻는질문(Faq)-->
<!--            </option>-->
<!--            <option th:value="@{'/board' + '/page-board/1' + '/QNA' + '?value=id&direction=descending'}" th:selected="${selectedBoarderType} == 'QNA'">질문과답변(Qna)-->
<!--            </option>-->
        </select>
    </th:block>
</div>
<div>
    <div align="right">
        <form th:action="@{'/board/search-board/' + ${pageNumber}}" class="form-inline m-3;">
            검색 :
            <input type="search" name="word" th:value="${word}">
            <input type="hidden" th:value="${value}" name="value">
            <input type="hidden" th:value="${direction}" name="direction">
            <input type="submit" class="btn btn-primary" value="검색">
        </form>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">번호</th>
        <th scope="col">글분류</th>
        <th scope="col">글제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성날짜</th>
        <th scope="col">편집</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boardList}">
        <td></td>
        <td>[[${board.id}]]</td>
        <td>[[${board.boarderType}]]</td>
        <td>
            <th:block th:if="${board.creationTime.after(#dates.createToday())}">
                <div><img th:src="@{/img/New.png}" style="width:25px; height:15px;"></div>
            </th:block>
            <a style="text-decoration: none;" th:href="@{'/board/' + ${board.id}}">[[${board.title}]]</a></td>
        <td>[[${board.user}]]</td>
        <td>[[${board.creationTime}]]</td>
        <td>
            <th:block>
                <a class="btn btn-primary" th:if="${#authentication.principal.user.id} == ${board.user.id}"
                   th:href="@{'/board/edit-board/' + ${board.id}}"
                   style="text-decoration: none;">편집</a>
                <form th:action="@{'/board/delete-board/' + ${board.id}}" method="post" onsubmit="return deleteAlert()">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" th:if="${#authentication.principal.user.id} == ${board.user.id}"
                            id="deleteButton" class="btn btn-danger">삭제
                    </button>
                </form>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
<th:block th:if="${totalPages>0}">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:class="${1 != pageNumber ? 'page-item active' : 'page-item disabled'}"><a class="page-link" th:href="@{'/board/page-board/' + ${pageNumber-1} +'/' +${selectedBoarderType} + '?value='+${value} + '&direction=' + ${direction} }">이전
                페이지</a></li>
            <li th:class="${CountBy==pageNumber} ? 'page-item active' : 'page-item'"
                th:each="CountBy : ${#numbers.sequence(1,totalPages)}">
                <a class="page-link" th:href="@{'/board/page-board/' + ${CountBy} +'/' +${selectedBoarderType} + '?value=' + ${value} + '&direction=' + ${direction}}">[[${CountBy}]]</a>
            </li>
            <li th:class="${totalPages == pageNumber ? 'page-item disabled' : 'page-item active'}"><a class="page-link"  th:href="@{'/board/page-board/' + ${pageNumber+1} +'/' +${selectedBoarderType} + '?value=' + ${value} + '&direction=' + ${direction}}">다음 페이지</a></li>
        </ul>
    </nav>
</th:block>

<!--<th:block th:if="${NoticeBoarderType} != null">-->
<!--    <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination justify-content-center">-->
<!--            <li th:class="${1 != pageNumber ? 'page-item active' : 'page-item disabled'}"><a class="page-link" th:href="@{'/board/notice-board/' + ${pageNumber-1}}">이전-->
<!--                페이지</a></li>-->
<!--            <li th:class="${CountBy==pageNumber} ? 'page-item active' : 'page-item'"-->
<!--                th:each="CountBy : ${#numbers.sequence(1,totalPages)}"><a class="page-link" th:href="@{'/board/notice-board/' + ${CountBy}}">[[${CountBy}]]</a>-->
<!--            </li>-->
<!--            <li th:class="${totalPages == pageNumber ? 'page-item disabled' : 'page-item active'}"><a class="page-link" th:href="@{'/board/notice-board/' + ${pageNumber+1}}">다음-->
<!--                페이지</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</th:block>-->

<!--<th:block th:if="${FAQBoarderType} != null">-->
<!--    <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination justify-content-center">-->
<!--            <li th:class="${1 != pageNumber ? 'page-item active' : 'page-item disabled'}"><a class="page-link" th:href="@{'/board/faq-board/' + ${pageNumber-1}}">이전-->
<!--                페이지</a></li>-->
<!--            <li th:class="${CountBy==pageNumber} ? 'page-item active' : 'page-item'"-->
<!--                th:each="CountBy : ${#numbers.sequence(1,totalPages)}"><a class="page-link" th:href="@{'/board/faq-board/' + ${CountBy}}">[[${CountBy}]]</a>-->
<!--            </li>-->
<!--            <li th:class="${totalPages == pageNumber ? 'page-item disabled' : 'page-item active'}"><a class="page-link" th:href="@{'/board/faq-board/' + ${pageNumber+1}}">다음-->
<!--                페이지</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</th:block>-->

<!--<th:block th:if="${QNABoarderType} != null">-->
<!--    <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination justify-content-center">-->
<!--            <li th:class="${1 != pageNumber ? 'page-item active' : 'page-item disabled'}"><a class="page-link" th:href="@{'/board/qna-board/' + ${pageNumber-1}}">이전-->
<!--                페이지</a></li>-->
<!--            <li th:class="${CountBy==pageNumber} ? 'page-item active' : 'page-item'"-->
<!--                th:each="CountBy : ${#numbers.sequence(1,totalPages)}"><a class="page-link" th:href="@{'/board/qna-board/' + ${CountBy}}">[[${CountBy}]]</a>-->
<!--            </li>-->
<!--            <li th:class="${totalPages == pageNumber ? 'page-item disabled' : 'page-item active'}"><a class="page-link" th:href="@{'/board/qna-board/' + ${pageNumber+1}}">다음-->
<!--                페이지</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</th:block>-->


<div class="text-center">
    <h1>
        <MARQUEE>😊이노트리에 오신 것을 환영합니다😊</MARQUEE>
    </h1>
    <img th:src="@{/img/innotree.png}" style="margin : 0 auto; width=:350px; height:200px;">
</div>
<script type="text/javascript">
$("#aioConceptName").on("change",function(){
    var conceptName = $('#aioConceptName').find(":selected").val();
    console.log(conceptName);
    $(location).attr("href","http://localhost:8080/board/page-board/1" + conceptName})
<!--     $("#aioConceptName").attr("value",conceptName);-->
<!--     $("#aioConceptName option:eq(1)").prop("selected",true);-->
<!--     console.log(conceptName);-->
});
<!--$("#aioConceptName").attr("value",attach.attr("href"));-->
<!--$("#aioConceptName").on("change",function(){-->
<!--    $("#aioConceptName option:eq(1)").prop("selected",true);-->
<!--});-->
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>