<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header ">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" th:replace="fragments :: navigation">
</nav>

<div class="border border-dark" style="margin: 0 auto; padding: 25px; width: 700px; height: 500px;">
    <div th:if="${id != null}">글 번호 : [[${id}]]</div>
    <div class="text-center">글 쓰 기</div>
    <form th:action="@{/board/save-board}" method="post" enctype="multipart/form-data"
          style="max-width: 700px; margin : 0 auto;" th:object="${board}">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input type="text" class="form-control" th:field="*{title}" required minlength="3">
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" th:field="*{contents}" rows="5"></textarea>
        </div>
        <input type="hidden" th:field="*{photos}"/>
        <input type="file" id="fileImage" name="image" accept="image/png,image/jpeg">

        <div class="text-center">
            <input type="submit" value="저장" class="btn btn-primary">
            <button type="button" id="backButton" value="취소" class="btn btn-secondary">취소</button>
        </div>

        <div class="form-group">
            <label>분류 : </label>
            <th:block >
                <select th:field="*{boarderType}" >
                    <option th:each="boarderType : ${boarderType}" th:value="${boarderType}">[[${boarderType.name}]]</option>
                </select>
            </th:block>
        </div>


    </form>
</div>

<div class=" text-center" style="padding: 30px;">
    <h3>
        <MARQUEE>😊이노트리에 오신 것을 환영합니다😊</MARQUEE>
    </h3>
    <img th:src="@{/img/innotree.png}" style="margin : 0 auto; width=:350px; height:200px;">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>