<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header ">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" th:replace="fragments :: navigation">
</nav>
<a th:href="@{/create-board}" style="text-decoration: none;"><h3>게시글 작성하기</h3></a>
<div th:if="${message!=null}" class="alert alert-primary text-center" th:text="${message}"></div>
<div> 글 분류:
    <select id="aioConceptName">
        <option value="all">글분류</option>
        <option value="공지사항">공지사항(Notice)</option>
        <option value="자주묻는질문">자주묻는질문(Faq)</option>
        <option value="질문과답변">질문과답변(Qna)</option>
        </option>
    </select>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">번호</th>
        <th scope="col">글분류</th>
        <th scope="col">글제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성날짜</th>
        <th scope="col">편집</th>
    </tr>
    </thead>
    <tbody id="m3">

    </tbody>
</table>


<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="Title"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="Text"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                <a type="button" class="btn btn-danger" href="" id="okButton">삭제</a>
            </div>
        </div>
    </div>
</div>



<script src="/js/board.js"></script>
<div class="text-center">
    <h1>
        <MARQUEE>😊이노트리에 오신 것을 환영합니다😊</MARQUEE>
    </h1>
</div>
<div class="text-center">
    <img th:src="@{/img/innotree.png}" style="margin : 0 auto; width=:350px; height:200px;">
</div>
</body>
</html>