<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header ">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" th:replace="fragments :: navigation">
</nav>
<a th:href="@{/create-board}" style="text-decoration: none;"><h3>게시글 작성하기</h3></a>
<select id="aioConceptName">
    <option value="0">글분류</option>
    <option> 공지사항(Notice)
    </option>
    <option>자주묻는질문(Faq)
    </option>
    <option>질문과답변(Qna)
    </option>
</select>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">번호</th>
        <th scope="col">글분류</th>
        <th scope="col">글제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성날짜</th>
        <th scope="col">편집</th>
    </tr>
    </thead>
    <tbody id="m3">

    </tbody>
</table>


<div class="text-center">
    <img th:src="@{/img/innotree.png}" style="margin : 0 auto; width=:350px; height:200px;">
</div>
</body>
</html>