<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header ">
</head>
<body>

<script>
    const request = new XMLHttpRequest();
    request.open('GET','https://restcountries.com/v2/name/korea');
    request.send();


    request.addEventListener('load',function(){
        console.log(this.responseText);
        const data = JSON.parse(this.responseText);
        console.log(data);

        const html = `

        `;
    });
</script>
</body>
</html>