<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header ">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light" th:replace="fragments :: navigation">
</nav>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">번호</th>
        <th scope="col">유저명</th>
        <th scope="col">역할</th>
        <th scope="col">편집</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${ListEveryUser}">
        <td></td>
        <td>[[${user.id}]]</td>
        <td>[[${user.username}]]</td>
        <td>[[${user.roles}]]</td>
        <td><a th:href="@{'/users/edit/' + ${user.id}}">Edit</a> &nbsp <a th:href="@{'/users/delete/' + ${user.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>

<div class="text-center">
    <h1>
        <MARQUEE>😊이노트리에 오신 것을 환영합니다😊</MARQUEE>
    </h1>
    <img th:src="@{/img/innotree.png}" style="margin : 0 auto; width=:350px; height:200px;" >
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>