<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header ">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" th:replace="fragments :: navigation">
</nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">번호</th>
        <th scope="col">유저명</th>
        <th scope="col">역할</th>
        <th scope="col">가입시간</th>
        <th scope="col">편집</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${ListEveryUser}">
        <td></td>
        <td>[[${user.id}]]</td>
        <td>[[${user.username}]]</td>
        <td>[[${user.roles}]]</td>
        <td>[[${user.creationTime}]]</td>
        <td><a th:href="@{'/users/edit/' + ${user.id}}">Edit</a> &nbsp <a class="deleteClass" th:idAttr="${user.id}"
                                                                          th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        <li th:class="${pageNumber > 1} ? 'page-item active' : 'page-item disabled'"><a class="page-link" th:href="@{'/users/page/' + ${pageNow-1}}">이전 페이지</a></li>

        <li th:class="${totalPages > pageNumber ? 'page-item active' : 'page-item disabled'}"><a class="page-link" th:href="@{'/users/page/' + ${pageNow+1}}">다음 페이지</a></li>
    </ul>
</nav>


<div class="modal" tabindex="-1" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">잘 읽어보세요</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>해당하는 아이디를 삭제하시겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                <button type="button" id="Ok" class="btn btn-danger">예</button>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <h1>
        <MARQUEE>😊이노트리에 오신 것을 환영합니다😊</MARQUEE>
    </h1>
    <img th:src="@{/img/innotree.png}" style="margin : 0 auto; width=:350px; height:200px;">
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".deleteClass").on("click",function(e){
            userId = $(this).attr("idAttr");
            alert("해당 아이디를 삭제합니다: " + userId);
        });
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>
</html>